# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# ML model (katta fayl)
*.pkl

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
